html {
    min-height: 100%;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    font-size: 16px;
    padding: 5em 1em 1em;
    box-sizing: border-box;
    font-family: CircularXX, sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #1c1e21;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    background: rgb(241, 238, 245);
    background: linear-gradient(
            180deg,
            rgba(241, 238, 245, 1) 68%,
            rgba(60, 1, 186, 0.17) 100%
    );
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

#loading {
    width: 80px;
    height: 80px;
    margin: 90px auto 0;
    border: solid 6px rgba(56, 24, 185, 1);
    border-radius: 50%;
    border-right-color: rgba(56, 24, 185, 0.25);
    border-bottom-color: rgba(56, 24, 185, 0.25);
    border-left-color: rgba(56, 24, 185, 0.25);
    -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;

    transition: all 0.5s ease-in;
    animation-name: rotate;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

h1,
p {
    font-size: 24px;
    line-height: 32px;
}

h1 {
    font-size: 24px;
    line-height: 32px;
}

h3 {
    color: #181818;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.transparent {
    opacity: 0.6;
}